// 颜色定义规范
$color-background = #DBD9CA
$color-background-d = rgba(219, 217, 202, 0.5)
$color-highlight-background = #BFA695
$color-dialog-background = #B48172
$color-theme = #C83849
$color-theme-d = rgba(200, 56, 73, 0.5)
$color-sub-theme = #64323C
$color-text = #64323C
$color-text-d = rgba(100, 50, 60, 0.3)
$color-text-l = rgba(100, 50, 60, 0.5)
$color-text-ll = rgba(100, 50, 60, 0.8)

//字体定义规范
$font-size-small-s = 10px
$font-size-small = 12px
$font-size-medium = 14px
$font-size-medium-x = 16px
$font-size-large = 18px
$font-size-large-x = 22px
